<div ng-controller="IndexCtrl">

  <h1>Favorite Movies</h1>
  
  <div ng-repeat ="movie in movies">
    <ul>
      <li>
        INDEX: {{$index}}
      <li>
        ACTUAL INDEX: {{movies.indexOf(movie)}}
      </li>
      <li>
        <strong>Title</strong>: {{movie.title}}
      </li>
      <li>
        <strong>Rating</strong>: {{movie.rating}}
      </li>
    </ul>
  </div>

</div>